<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720011304448-58k977589lsckp5tkaht1cpb96v6kclp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720011304448-58k977589lsckp5tkaht1cpb96v6kclp</string>
	<key>API_KEY</key>
	<string>AIzaSyDjeurYAmgnMdR7rav6kpROQbSX53Xru8o</string>
	<key>GCM_SENDER_ID</key>
	<string>720011304448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prep.moto</string>
	<key>PROJECT_ID</key>
	<string>moto-prep</string>
	<key>STORAGE_BUCKET</key>
	<string>moto-prep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720011304448:ios:4135b1284a6483003202e5</string>
</dict>
</plist>